
.tab-content {
    display: none;
  }


  .tab {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: inline-block;
    margin-right: 5px;
    bottom:auto
    
  }

  
  
  form {
    margin-top: 20px;
    overflow: hidden;
    display: grid;
    
  }

  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  table, th, td {
    border: 1px solid #ddd;
  }

  th, td {
    padding: 10px;
    text-align: left;
  }
label{
    grid-column: 1 /2;
}

button{
  margin-top: 1rem;
}
button:hover{
    background-color: aquamarine;
}